/*
	Fargepaletten til JavaZone
	(inntil vi får less-variabler)

    Main Text #394549
    Light Text #ccc

    Burgunder:  a10035;
    Lyserød:    ff4f4c;
    Oransje:    ff8641;
    Gul:        fcaf17;
    Lysegrønn:  149089;
    Mørkegrønn: 286a65;
    Svart:      101010;
*/


body {
	background: #fefefe;
    color: #394549;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'sans serif';
	font-size: 18px;
    line-height: 1.5;

    /* We make our own highlights instead */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;


    background-image: url("../img/background_blurred.jpg");
    background-attachment: fixed;
    min-height: 100%;
    width: 100%;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content {
    padding: 210px 0 40px 0;
}

.nav .container {
    background: transparent;
}

.container {
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    background: #fff;
    padding: 20px 50px;
}

.container-big {
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 880px) {

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .container-big {
        margin-left: auto;
        margin-right: auto;
    }
}

a {
    -webkit-transition: color .4s ease;
    -moz-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease;
	text-decoration: none;
}

.content a {
    color: #286a65;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, #286a65);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #286a65);
    background-repeat: repeat-x;
    background-size: 2px 5px;
    background-position: 0 16px;
    text-shadow: 2px 0 0 #fefefe, -2px 0 0 #fefefe;
}

.content a:hover {
    color: #ff8641;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, #ff8641);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #ff8641);
}

h1 {
    font-size: 1.6em;
    font-weight: 300;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

select {
    font-size: 2em;
}

.tags {
    margin-top: 2em;
}

.tags .tag {
    border: 1px solid #286a65;
    color: #286a65;
    padding: .5em 3em .5em 1em;
    margin: .5em;
    border-radius: 100px;
    float: left;
    position: relative;
}
.tags .tag .tag-remove {
    position: absolute;
    right: .5em;
    top: .4em;
    background: #286a65;
    color: #fff;
    padding: 0 .65em .2em .65em;
    border-radius: 100px;
    cursor: pointer;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


.anchor {
    display: block; 
    position: relative; 
    top: -89px; 
}










.icon {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.icon-talk {
    background-image: url("../img/speaker.svg");
}

.icon-metadata {
    background-image: url("../img/metadata.svg");
}

.icon-programcommittee {
    background-image: url("../img/programcommittee.svg");
}

.icon-whoami {
    background-image: url("../img/legorobot.svg");
}

.icon-norobots {
    background-image: url("../img/robot.svg");
}

.icon-submit {
    background-image: url("../img/rocket.svg");
}

.icon-success {
    background-image: url("../img/highfive.svg");
}

.icon-failure {
    background-image: url("../img/depression.svg");
}







