.nav {
	-webkit-transition: line-height .1s ease;
	-moz-transition: line-height .1s ease;
	-o-transition: line-height .1s ease;
	transition: line-height .1s ease;
	background: rgba(254, 254, 254, .95);
	position: absolute;
	text-align: center;
	top: -180px;
	width: 100%;
	z-index: 1;
}

.nav .logo {
	font-size: 0;
}

.nav .logo svg {
	margin: 20px 0;
}

.nav .logo a {
	margin-left: 30px;
}

.nav-toggle {
	background: transparent;
	border: 0;
	display: table-cell;
	height: 100%;
	padding: 0;
}

.nav-toggle:focus {
	outline: 0;
}

.nav-toggle svg {
	position: relative;
	top: -10px;
}

.nav-desktop {
	display: table;
}

.nav-mobile, .nav-desktop {
	width: 100%;
}

.nav-mobile {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-element {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.nav-element.left {
	text-align: right;
}

.nav-element.right {
	text-align: left;
}

.nav a {
	-webkit-transition: color .4s ease;
	-moz-transition: color .4s ease;
	-o-transition: color .4s ease;
	transition: color .4s ease;
	color: #101010;
	display: inline-block;
	font-size: 1.7em;
	padding: 0 .5em;
	font-weight: 300;
	position: relative;
	text-decoration: none;
}

.nav .nav-item a {
	/*-webkit-animation: slidein 1s forwards;
	-moz-animation: slidein 1s forwards;
	-ms-animation: slidein 1s forwards;
	-o-animation: slidein 1s forwards;
	animation: slidein 1s forwards;*/
	position: relative;
	top: -8px;
}

/*.nav .nav-item:first-child a {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-ms-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}

.nav .nav-item:nth-child(3) a {
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-ms-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
	opacity: 0;
}*/

.nav a:hover,
.nav a:focus {
	color: #ff8641;
}

.nav a.active {
	color: #ff8641;
}

.nav-item {
	display: none;
}


	.nav {
		top: 0;
	}

	.nav .logo a {
		margin-left: 0;
	}

	.nav-toggle {
		display: none;
	}

	.nav-element {
		width: 33.33%;
	}

	.nav-mobile {
		display: none;
	}

	.nav-item {
		display: table-cell;
	}


@-moz-keyframes slidein {
	from {
		-moz-transform: translateY(-1em);
		-webkit-transform: translateY(-1em);
		-ms-transform: translateY(-1em);
		-o-transform: translateY(-1em);
		transform: translateY(-1em);
		opacity: 0;
	}
	to {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes slidein {
	from {
		-moz-transform: translateY(-1em);
		-webkit-transform: translateY(-1em);
		-ms-transform: translateY(-1em);
		-o-transform: translateY(-1em);
		transform: translateY(-1em);
		opacity: 0;
	}
	to {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-ms-keyframes slidein {
	from {
		-moz-transform: translateY(-1em);
		-webkit-transform: translateY(-1em);
		-ms-transform: translateY(-1em);
		-o-transform: translateY(-1em);
		transform: translateY(-1em);
		opacity: 0;
	}
	to {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-o-keyframes slidein {
	from {
		-moz-transform: translateY(-1em);
		-webkit-transform: translateY(-1em);
		-ms-transform: translateY(-1em);
		-o-transform: translateY(-1em);
		transform: translateY(-1em);
		opacity: 0;
	}
	to {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slidein {
	from {
		-moz-transform: translateY(-1em);
		-webkit-transform: translateY(-1em);
		-ms-transform: translateY(-1em);
		-o-transform: translateY(-1em);
		transform: translateY(-1em);
		opacity: 0;
	}
	to {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}