html {
    width:100%;
    height:100%;
    overflow:auto;
    overflow-y: scroll;
    overflow-x: hidden;
    color:#394549;
    background:#fff;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial sans-serif;
    font-size:18px;
    font-weight: 400;
    line-height:1;
    width:100%;
    height:100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    body { font-weight: 300; }
}

 .wrapper {
    width: 70em;
    margin: 0 auto;
    position: relative;
    padding:0 0 100px 1.5em;
 }

h2 { font-size:1.2em; margin:2em 0 1.5em 0; line-height: 1.2; color:#000; font-weight: normal; }
h3 { font-size:1.2em; color:#000; margin:2em 0 1em 0; line-height: 1.5; max-width: 30em; }
h4 { font-size:.8em; text-transform: uppercase; font-weight: bold; color:#000; margin:0 0 .5em 0; }
h2 i, h3 i { margin:0 .3em 0 0; }
.first { margin-top: 0; }
.last { margin-bottom: 0; }
h2 span, h3 span, h4 span { color: #888; font-size: 80%; }

strong { font-weight: 600; }

label:hover { cursor: pointer; }

.space { height: 2em; }

p { margin:0 0 1em 0; line-height: 1.5; max-width: 40em; }
.imagelist { max-width: 40em; line-height: 1.3; margin: 0 0 2em 0; }
.imagelist i { margin: .4em 0 0 0; }
.imagelist li { margin: .8em 0; }
.imagelist.green i { color: #518F89; }

.imagepreview {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    display: block;
    border: 1px solid #777;
}
.speaker-floatleft {
    float: left;
    margin: 0 2em 0 0;
}

.preserve-newlines { white-space: pre-wrap; }

p.ingress { font-weight: 700; }

a { color:#F15B40; text-decoration: none; border-bottom:1px solid rgba(0,0,0,0.1); }
a:hover { color:#000; border-color:#000; text-decoration: none; }


.menu { padding:2.8em 0 1.7em 0; margin:0 1.2em 0 0; font-weight: 300; position: relative; }
.menu h1 a { border:none; }
.menu ul { position: absolute; bottom:1.6em; right:5px; width:60%; text-align: right;}
.menu li { line-height: 2.5; display: inline; margin:0 0 0 2em; padding: 0;}
.menu ul a { color:#394549; font-size:2em; }
.menu ul a:hover { color:#000; }



.footer { padding:1em 0; margin:0 1em 0 0; opacity: .5; }
.footer ul { display: inline; }
.footer ul.first { float: left;}
.footer ul.second { float: right; }
.footer li { display: inline; margin:0 2em 0 0; }
.footer ul.second li { margin:0 0.5em 0 0; }
.footer a { color:#394549; font-size:1.4em; }
.footer p { font-size:1.4em; float: right; }

.tiles-main { width:66.666%; float:left; }
.tiles-side { width:33.333%; float:right; margin:0; }

.tile { float:left; width:50%; overflow: hidden; }
.tile-inner { margin:0 1.5em 1.5em 0; padding:2.8em; height:10em; overflow: hidden; display: block; }
.tile-inner { border:none; color:#394549; position: relative; }
.tile-inner { background-color:#f9f9f9; background-size:cover; background-position: center center; }
.tile-last .tile-inner { padding-bottom:1.5em; }
.tile-big { width:100%; }
.tile-med { width:66.666%; }
.tile-small { width:33.333%; }
.tile-three { width:75%; }
.tile-one { width:25%; }
.tile-tall .tile-inner { height:19.7em; }
.tile-taller .tile-inner { height:30em; }
.tile-low  .tile-inner { height:8em; }
.tile-auto .tile-inner { height: auto; }

.tile .extra { display: block; position: absolute; bottom:30px; left:0; padding:1em 2em 1em 1em;
    font-size:1.2em; background:#fff; line-height: 1.5; }
.tile .extra i { margin:0 .4em 0 0; }
.tile .extra strong { font-weight: bold; }
.tile .extra-top { top: 60px; bottom: auto; }

.tile-video { }
.tile-video .tile-inner { padding:0; height:25.2em; }
.tile-video iframe { width:100%; height:100%; }

.talkvideo { height: 25em; margin: 0 1.5em 3em 0; }

.tile-txt {  }
.tile-txt .tile-inner { height:auto; }

.tile-img { margin-bottom: 2em; }

.tile-blank .tile-inner { background: none; height: auto; padding:0; }

.tile-dates .tile-inner { background:#fd8640; color:#fff; }
.tile-dates h2 { color:#fff; }
.tile-dates strong { font-weight: bold; }
.tile-dates p { font-size:.9em; margin:0 0 2em 0; }
.tile-dates a { border-bottom: none; color:#fff; }
.tile-dates a:hover { color:#000; }
.tile-dates a i { padding-right: 0.3em; }

.tile-partners .tile-inner { background:#303030; height:auto; text-align: center; min-height:15em; padding:2em 1em; }
.tile-partners a { border:none; }
.tile-partners img { width:150px; height: 68px; display: inline-block; border:.5em solid #303030; }
.tile-partners img:hover { border-color:#222; }
.tile-partners h2 { color: #fff; padding: 0; margin: 0 0 1em 0; }

.tile-credits .tile-inner { background:#303030; height:auto; text-align: center; min-height:280px; padding:2em 1em; }
.tile-credits img { width:200px; height:200px; display: inline-block; border:.5em solid #222; float: left; margin: 0.5em; }
.tile-credits img:hover { border-color:#000; }

.tile-communities .tile-inner { height: auto; }
.tile-communities .community { width: 20%; float: left; margin-right: 1em; padding: 1em; background: red;}


.tile-contact .tile-inner { background:#FCAF2A; color:#000; line-height: 1.35; padding-bottom:2.3em; }
.tile-contact h2 { color:#fff; }
.tile-contact strong { font-weight: bold; }
.tile-contact a { color:#000; float: right; border-color:#000; }
.tile-contact li { margin:0 0 .5em 0; }
.tile-contact span { color:#fff; float: right; letter-spacing:1px; }
.tile-prices .tile-inner { background:#A10735; color:#fff; }
.tile-prices .tile-inner a { color:#fff; border-color:#fff; }

.tile-sessions { height: auto; }

.tile-javabin { }
.tile-javabin .tile-inner { background:#A10735; color:#fff; }
.tile-javabin h2 { color:#fff; }
.tile-javabin strong { font-weight: bold; }
.tile-javabin a { color:#fff; float: none; border-color:#fff; }
.tile-javabin a:hover { color:#eee; border-color:#eee; }

ul.tags { padding:1em 0; clear: both; }
ul.tags li { display: inline; }
.tag { display: inline-block; text-transform: lowercase; background:#F15B40; color:#fff !important;
    padding:.5em .5em; margin:0 0 0.2em 0; border-radius:.2em;
    white-space: nowrap; font-size:.9em; font-weight: 600; border:none; }
.tag:hover { background: #189D9C; }

ul.dates { margin:0 0 2em 0; font-size:.9em; }
ul.dates li { line-height: 1; padding:.5em 0; }

ul.links li { line-height: 2; }
ul.links li a { border-bottom: none; }
ul.links li i { padding: 0 0.5em 0 0; }

ul.list { line-height: 1.8; }
ul.list li { margin: 0.8em 0; }
ul.list i { margin:0 .5em 0 0; }

.numbers { width:100%; margin:3em -50px 3em -50px; padding:20px 50px; background:#A10735; color:#fff; }
.numbers .number { float:left; text-align: center; font-size:1.4em; width:33.333%; padding:30px 0; }
.numbers .number span { font-size:2em; display: block; margin:0 0 .3em 0; font-weight: bold; }
.numbers-last { margin-bottom:-2.8em; }

.minis { padding:1em 0 0 0; margin:0 -1em 0 0; }
.mini { float: left; width: 42.5%; margin: 0 1em 1em 0; padding:1em; height: 7em; background:#fff; }
.mini h3 { font-size: 1em; font-weight: 400; margin: 0 0 0.5em 0; }
.mini p { font-size: 0.8em; margin:0; }

.tile-soon .tile-inner { height: auto; background: none; }
.tile-soon .tiled { font-size:2em; text-align: center; padding:1em 0; text-transform: uppercase; }
.tile-soon i { font-size:4em; margin:0 .1em .2em .1em; }

.tile-facts .tile-inner { background:#fd8640; color:#fff; height: auto; line-height: 1.5; padding-bottom:1.5em; }
.tile-facts strong { display: block; font-weight: bold; margin:0 0 .5em 0; }
.tile-facts li { margin:0 0 2em 0; font-size:.9em; }
.tile-facts i { margin:0 .5em 0 0; }
.tile-facts a { color:#fff; border-color:#fff; }
.tile-facts a:hover { color:#000; border-color:#000; }

.tile-invert .tile-inner { background:#1B1B1B; color:#fff; }
.tile-invert a { color:#FCAF2A; border:none; }
.tile-invert a:hover { color:#fff; }
.tile-invert h2 { color:#A1D3D0; }
.tile-invert h3 { color:#fff; }

.tile-talk .tile-inner { padding:0; height:23em; background:#1B1B1B; }
.tile-talk iframe { width:100%; height:18em; }
.tile-talk span { color:#FCAF2A; }
.tile-talk h4 { text-transform: none; color:#fff; padding:.5em 5em .5em 1em;
    text-transform: none; font-size:1.2em; line-height: 1.4; font-weight: inherit; }
.tile-talk-more { text-align: center; }
.tile-talk-more i { color:#fff; font-size:10em; padding:.6em 0 .1em 0; display: inline-block; }
.tile-talk-more span { display: block; font-size:1.2em; color:#fff; }
.tile-talk-more a:hover i, .tile-talk-more a:hover span { color:#fcaf2a; }

.page-invert, .page-invert body { background:#101010; }
.page-invert .tweet p { background:#1B1B1B; color:#fff; }
.page-invert .tweet p a { color:#fff; border-bottom:.1em solid #fff; }
.page-invert .tweet .next { border:none; }
.page-invert .tweet .next i { color:#3b3b3b; }
.page-invert .tweet .next:hover i { color:#fff; }
.page-invert .menu a { color:#fff; }
.page-invert .footer a { color:#8b8b8b; }
.page-invert .footer a:hover, .page-invert .menu a:hover { border-color:#fff; color:#fff; }
.page-invert .tile .extra { background:#101010;  color:#fff; }
.page-invert .tile-invert .tile-inner,
.page-invert .tile-facts .tile-inner { background:#282828; }
.page-invert a:hover { color:#A10735; border-color:#A10735; }

.filters ul { padding:0 0 2em 1.25em; }
.filters li { padding:.51em 0; }
.filters a { border: none; color:#394549; }
.filters a:hover, .filters a:hover i { color:#148f87; }
.filters i { font-size: .9em; display: inline-block; margin: 0 .3em 0 0; color:#ddd; }
.filters .active .icon-circle-blank { display: none; }
.filters .active .icon-circle { display: inline-block; color: #148f87; }

.tiles-program { min-height: 50em; }
h2.program-header { border-bottom:1px solid #f0f0f0; padding:2em 0 1.5em 3.4em; margin:0 0 1.5em 0; position: relative; }
h2.program-header br { display: none; }
h2.program-header .date { display: block; padding:.5em 0 0 0; color: #148f87; }
h2.program-header .duration { position: absolute; top:2em; right:2em; }
.filters h2.program-header { padding-left:1em; }

.program { margin-bottom:5em; }
.slot { padding: 0 0 2em 0; margin: 0 0 2em 0; border-bottom:1px solid #f0f0f0; }
.slot-time { font-size: 1.4em; padding: 1em; display: none; font-weight: 200; text-align: center; }

.session { display: block; color: #394549; border: none; position: relative; padding:.2em 0 .2em 4em;
    border-top:1px solid #fff; border-bottom:1px solid #fff; height: 1.5em; overflow: hidden; line-height: 1.5; }
.session-short { color:#999; }
.session:hover { color:#000; border-color: #eee; }
.session .time { position: absolute; left: 0; font-weight: bold; display: none; text-align: right; }
.session .time-show { display: block; }
.session-0 .time { display: block; }
.session .badge { position: absolute; left: 2em; opacity: .5; display: none; }
.session-short .badge { display: block; }
.session .person { position: absolute; left:33em; }
.tile-big .session .person { left:52em; }
.session img { width: 1em; height: 1em; border-radius: 1em; margin:-.15em .2em -.15em 0; }
.session strong { color: #148f87; }
.session .room { position: absolute; right: 1.5em; }
.session .rate { position: absolute; right: 1.5em; background:#fff; padding:.2em 0 .2em .5em; }
.session .rate i { display: block; float: left; color:#999; font-size: .9em; padding:.1em .1em; }
.session .rate .comment-icon { margin-left: .5em; padding-top:.05em; }
.session .rate .icon-star { color: #f9ad29; }
.session .rate .icon-comment { color: #148f87; }
.session .rate-active .icon-star:active { color: #148f87; }

.feedback { background:#fff; padding:2em 4em; margin:0 0 2em 0; background:#f9f9f9; }
.feedback textarea { width: 30em; height: 10em; font-size: .8em; padding:1em; border:1px solid #ccc; margin: 0 0 1em 0; }
.feedback textarea:focus { outline: none; border-color:#999; }
.feedback p { margin: 0; }

.rate-talk { font-size: 1.4em; text-align: center; }
.rate-talk i { color:#999; }
.rate-talk.rate-active i:hover { cursor: pointer; }
.rate-talk .icon-star { color: #f9ad29; }

.feedback-talk { padding: 2em 0 0 0; margin: 0; }
.feedback-talk textarea { width: 18em; }
.feedback-talk p { text-align: center; }

.tile-invert .feedback { background: none; }
.tile-invert textarea { background: #333; border:none; color:#fff; }
.tile-invert textarea:focus { background: #444; }

.notification { background:rgba(0,0,0,0.8); color:#fff; font-size: 1.4em; padding:1em 2em; text-align: center; border-radius: .2em; }
.notification { width:14em; position: fixed; top:3em; left:50%; margin-left:-9em; z-index:9999; }
.notification { display: none; }

.ui-filter .slot { border: none; margin: 0 0 .5em 0; padding: 0; }
.ui-filter .session .time { display: block; font-weight: 200; }
.ui-filter .session .badge { display: none; }

.level { background: #eee; height: .7em; width: .7em; border-radius: 2em; display: inline-block; margin: 0 .5em 0 0; }
.level-advanced { background: #fb4e4b; }
.level-intermediate { background: #f9ad29; }
.level-beginner { background: #148f87; }

.tile-session .tile-inner { background:#fff; padding:0 2em 2em 0; }
.tile-session .top { padding:2em; border-bottom:1px solid #f0f0f0; }
.tile-session .body { padding:2em; font-weight: 200; }
.tile-session h3 { padding:.5em 0 0 0; margin: 0; color: #148f87; }
.tile-session .intro { font-weight: normal; color:#000; }
.tile-session .body h3 { padding: 1em 0 1em 0; }

.tile-session .meta { }
.tile-session .meta li { padding:.2em 0 .2em 7em; position: relative; line-height: 1.4; }
.tile-session .meta strong { display: inline-block; font-weight: normal; width: 6em; position: absolute; left: 0; text-align: right; }

.tile-speaker img { width: 100px; height: 100px; border-radius: 200px; display: block; margin: 0 auto 1em auto; border:2px solid #fff; }
.tile-speaker h4 { text-transform: none; font-weight: 200; font-size: 1.2em; text-align: center;
    padding:0; margin: 0 0 1em 0; color:#148f87; }
.tile-speaker p { font-size: .9em; font-weight: 200; }

.program-disclaimer { text-align: center; max-width: 100%; font-size: .9em; margin: 0 0 3em 0; color: #999; }

.workshop-tag-medium, .workshop-tag-full {
    border-radius: .8em;
    color: #fff;
    margin-right: .5em;
    padding: .2em .6em;
    font-size: .8em;
    display: block;
    float: left;
}
.workshop-tag-medium {
    background: #f3a928;
}
.workshop-tag-full {
    background: #a10735;
}

.form { padding:4em 0; background-size: cover; background-attachment: fixed; }
.form-inner { margin: 0 auto; max-width: 20em; padding: 3em 5em 2em 5em; background: #fff; }

.form h2 { color: #148f87;}
.form h3 { font-size: 1em; color: #000; }
.form label { display: block; margin: 0 0 .2em 0; font-weight: normal; font-weight: inherit; }
.form label:hover { cursor: pointer; }
.form p { margin: 0 0 2em 0; }
.form em { display: none; }
.form textarea { width: 22.5em; height: 14em; font-size: .8em; padding:1em; border:1px solid #ccc; margin: 0 0 1em 0; }
.form textarea { line-height: 1.4em; border-radius: .2em; }
.form textarea:focus { outline: none; border-color:#999; }
.form .small { font-size: 0.8em; margin: -1em 2em 1em 0; color: #666;}
.form .talkcomments { list-style: circle; margin-left: 1em;}
.form .talkcomments li { margin: .5em 0; font-size: .8em; line-height: 1.3em; }
.form strong { font-weight: 400; }
.form .gaugetext { width: 150px; float: left; text-align: center; font-size: .6em; color: #148f87; padding-top: .2em; text-transform: uppercase; font-weight: bold; }


.thanks h2 { margin-top: 1em; }
.thanks p.last { margin-bottom: 2em; }

.community h3 { margin:0; }

.button { background: #148f87; color:#fff; padding:.5em 1em; border-radius: .2em; text-shadow: none; box-shadow: none; -webkit-box-shadow: none; }
.button:hover { background: #117972; color:#fff !important; border-color: transparent !important; }
.button i { display: inline-block; margin: 0 .3em 0 0; }


.slide { width: 70em; margin: 2em 0; }


@media only screen and (max-width: 1350px) {
    body { font-size:16px; }
}

@media only screen and (max-width: 1200px) {
    body { font-size:14px; }
}

@media only screen and (max-width: 500px) {
    br { display: none; }
    #container { width:auto; padding:0; }
    .tiles-main { width:100%; float:none; }
    .tiles-side { width:100%; float:none; }

    .tile { width:100%; }
    .tile-big { width:100%; }
    .tile-med { width:100%; }
    .tile-small { width:100%; }
    .tile-tall .tile-inner { height:18em; }
    .tile-tall-text .tile-inner { height:auto; }
    .tile-low  .tile-inner { height:8em; }
    .tile-inner { margin:0 0 0 0; }
    .tile-talk .tile-inner { height:26.5em; }

    .mini { float:none; width:auto; height:auto; margin-bottom:.5em; }
    .tweet { font-size: 1.2em; margin-bottom: 3em; }
    .tweet p { margin:0; padding:2.8em; }
    .page-invert .tweet p { background:#2b2b2b; }
    .tweet .next { display: none; }

    .filters { padding:0 2em; width: auto; }
    .sessions { padding:0 1.5em; width: auto; }
    .keyword { margin:0 .1em .1em 0; }

    .menu { margin:0; }
    .menu h1 span { display: block; margin:0 auto; }
    .menu ul { position: static; font-size:.8em; text-align: center; width: 100%; padding:2em 0 1em 0; }
    .menu li { display: inline-block; margin:0 .5em; line-height: 1.7; }
    .menu ul a { font-size:1.6em; }

    .footer { font-size:.8em; padding:3em 0 0 0; }
    .footer li { margin:0 .5em 0 .5em; }
    .footer ul { display: block; text-align: center; padding:0 0 2em 0; }
    .footer ul.first { float: none;}
    .footer ul.second { float: none; }

    .not-min,
    .img-inner,
    a:hover .img-inner { display: none; }

    h2.program-header { padding:1em 1em 0 1em; margin:0; border: none; font-weight: 200; font-size: 2em; text-align: center; }
    h2.program-header br { display: block; }
    h2.program-header-alone { font-size:1.4em; padding:2em; }
    .slot { border: none; padding-bottom: 1em; margin-bottom: 0; font-size: 1.3em; }
    .slot-time { display: block; }
    .session { padding: .3em 0 .3em 1.8em; overflow:visible; height: auto; line-height: 1.5; position: relative; }
    .session .level { display: none; }
    .session .time { display: none; }
    .session .badge { display: none; }
    .session .person { position: static; top:0; left: 0; color: #148f87; }
    .session .person img { position: absolute; top: .7em; left: 0; }
    .session .room { display: none; }
    .filters { display: none; }

    .session-rateable { height: 1.5em; overflow: hidden; }
    .session .rate { right: 0; top:.4em; bottom: auto; left: auto; padding:.2em 0 .5em 1em; }

    .feedback { padding:2em; }
    .feedback textarea { width:90%; }
    .session .rate i { padding:.1em .2em; }
    .notification { top:1em; }

    .tile-session { font-size:1.2em; }
    .tile-session .tile-inner { padding: 0; }
    .tile-speaker { margin:0; font-size:1.2em; }
    .tile-session .top { border:none; padding:0 2em; }

    .workshop .time { display: block; font-weight: 200; }
    .workshop strong { display: block; padding-left: 3em; }

    .workshop-tag-medium, .workshop-tag-full {
        display: none;
    }

    .img-awezone-poster { width: 25em; height: 35.0064em; display: block; margin: 0 auto; }

    .form { background:none; padding:0; }
    .form-inner { padding:2em 4em; max-width: none; }

    .slide { width: 100%; margin: .5em 0; }
}














.choice {
    margin: 0 0 15px 0;
    line-height: 1.3;
}
.choice span {
    font-weight: 600;
}
.choice input {
    float: left;
    margin: 4px 10px 30px 0;
}
.choice label {
    color: #555;
    font-size: .9em;
    line-height: 1.3;
}
.choice label span {
    font-weight: 700;
    text-transform: uppercase;
}
.floatchoice {
    box-sizing: border-box;
    float: left;
    width: 24%;
    height: 100px;
    margin: 5px;
    padding: 10px;
}
.floatchoice input {
    margin-bottom: 60px;
}

.talkInput {
    font-size: 18px !important;
    padding: 15px !important;
    width: 800px;
    line-height: 1.3;
}



 legend {
    font-size: 25px;
    padding: 30px 0 2px 0;
 }

 p {
    max-width: 800px;
    line-height: 1.6;
 }

li {
    padding: 5px;
    margin-left: 15px;
}

.speakerBox {
    border: 10px solid #efefef;
    margin: 10px 0 20px 0;
}
.speakerBoxInner {
    padding: 0 0 0 30px;
}
.speakerHeader {
    background: #efefef;
    color: #280002;
    font-size: 25px;
    padding: 10px 0 10px 10px;
}

.well {
    background: #F6F4ED;
    color: #280002;
    font-size: 16px;
}

#captchaPart img {
    margin-bottom: 20px;
}

.headerText {
    font-size: 32px;
    color: #394549;
}
.headerText strong{
    font-weight: normal;
    color: black;
}

.introText {
    margin: 30px 0;
}

.credit {
    width: 100%;
    background: #222;
    color: #ddd;
    text-align: center;
    padding: 10px 0;
}

.submitWrapper {
    margin: 30px 0 50px 0;
}

.hurra {
    font-size: 30px;
    margin: 50px 0;
    color: #4F8A10;
}


 .checkbox
 {
 	float:left;
 	width:20%;
 	margin-left:10px;
 }

 .hideit
 {
 	visibility: hidden;
 }

 .tile-talksummary h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
 }



/*  IMAGES */

.img {
    background-size:100% 100%;
    display:inline-block;
    text-indent:-999em;
    background-repeat: no-repeat;
    background-position: center center;
    width:128px;
    height:128px;
    position: relative;
}

.img-inner {
    display: none;
    width:100%;
    height:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:1em solid rgba(0,0,0,0.1);
    position: absolute;
    top:0;
    left:0;
}

a:hover .img-inner {
    display: block;
}
.img-logo { background-image:url("../img/javazone.horizontal.png"); width:19.444em; height:4.889em; }
.page-invert .img-logo { background-image:url("../img/javazone.horizontal.light.png"); }
.img-crowd { background-image:url("../img/crowd.jpg"); }
.img-spektrum { background-image:url("../img/spektrum.jpg"); }


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .img-logo { background-image:url("../img/javazone.horizontal@2x.png"); }
    .page-invert .img-logo { background-image:url("../img/javazone.horizontal.light@2x.png"); }
    .img-crowd { background-image:url("../img/crowd@2x.jpg"); }
    .img-spektrum { background-image:url("../img/spektrum@2x.jpg"); }
    
}
