.input-section h4 {
	margin: 1em 0 0 0;
	font-size: 1.3em;
	font-weight: 300;
}
.input-section p {
	margin: .5em 0;
	font-size: .8em;
}
.input-section p.help {
	color: #666;
}
.input-section input, .input-section textarea {
	width: 100%;
	padding: 1em;
	border: 1px solid #eee;
}

.choice {
	position: relative;
	height: 3.5em;
	font-size: .8em;
	margin: 1em 0 0 0;
}
.choice input {
	position: absolute;
	left: 0;
	top: .4em;
}
.choice label {
	position: absolute;
	left: 2.5em;
	top: 0;
	font-weight: 300;
	font-size: .9em
}
.choice label span {
	font-weight: 400;
	display: block;
	font-size: 1.3em;
}

.center {
	text-align: center;
}
button {
	background: none;
	font-weight: 300;
}
.imagepreview {
	width: 300px;
	height: 300px;
	border-radius: 1000px;
	border: 1px solid #bbb;
}